.hero-bg {
  background-image: url("../img/hero.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  height: 90vh;
  position: relative;
}
.hero {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.hero-info {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  color: #fff;
}

.hero-info h1 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 30px;
  font-family: "Times New Roman", Times, serif !important;
}

.hero-info p {
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.hero-btns {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.hero-options {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.item {
  min-height: 180px;
  min-width: 230px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: #a79770;
  border-radius: 10px;
}

.item img {
  max-width: 50px;
}

.item h4 {
  letter-spacing: 1px;
  color: #fff;
}
